  :root {
    --color-black: #010104;
    --color-neon-pink: #ef0195;
    --color-dark-pink: #C74374;
    --color-light-pink: #fb91b2;
    --color-gray: #6A6F75;
    --color-light-gray: #D2C4CB;
    --color-white: #F3F4ED;
    --color-pale-pink: #ffd9e6;
    --color-off-white: #F6F4F5;
}

@font-face {
    font-family: 'Lacquer';
    src: url('fonts/Lacquer-Regular.woff2') format('woff2'), 
         url('fonts/Lacquer-Regular.otf') format('opentype'),
         url('fonts/Lacquer-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sfPro-Regular';
    src: url('fonts/sfPro-Regular.woff2') format('woff2'), 
         url('fonts/sfPro-Regular.otf') format('opentype'),
         url('fonts/sfPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sfPro-Medium';
    src: url('fonts/sfPro-Medium.woff2') format('woff2'), 
         url('fonts/sfPro-Medium.otf') format('opentype'),
         url('fonts/sfPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sfPro-Bold';
    src: url('fonts/sfPro-Bold.woff2') format('woff2'), 
         url('fonts/sfPro-Bold.otf') format('opentype'),
         url('fonts/sfPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-black);
    font-family: 'sfPro-Regular';
}

.intro {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-shadow: 
    0 0 1.5px var(--color-neon-pink), 
    0 0 18px rgba(199, 67, 116, 0.8);
    -webkit-text-stroke: 0.7px var(--color-black);
}

.titleGlitch {
    font-family: 'Lacquer';
    font-size: 8vw;
    color: var(--color-neon-pink);
    position: relative;
    opacity: 1;
    transition: opacity 0.7s ease-out;
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg); 
    }
}

.titleGlitch:before,
.titleGlitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.titleGlitch:before {
    animation: glitchTop 3s linear infinite;
}

@keyframes glitchTop {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg); 
    }
}

.titleGlitch:after {
    animation: glitchBottom 3s linear infinite;
}

@keyframes glitchBottom {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg); 
    }
}

p {
    color: var(--color-white);
    font-family: 'sfPro-Regular';
}